extends layout

block content
    div.container
        h2 Thank you for donating to our cause!. In case you are interested, here is some more about our mission and recent events:
        p
            a(href='#') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
        p
            a(href='#') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
        p
            a(href='#') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
        p
            a(href='#') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci